@import "variables";


.uk-card.uk-card-default{
  background-color: @color-white;
  border: 1px solid @color-grey-light;
  border-radius: @nxd-border-radius;
  box-shadow: rgba(51, 51, 51, 0.08) 0 4px 16px 0;
  overflow: hidden;

    .uk-card-header{
        h3{
            color: @color-navy;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.2;
            margin: 0;
            padding: 0;
        }
    }
}

.nx-card-add {
  cursor: pointer;
  border: 1px dashed @color-grey;
  border-radius: @nxd-border-radius;
  transition: all 0.2s ease-in-out;
    color: @color-grey;
  &.uk-card-hover:hover{
    border-color: transparent;
    color: @color-primary;
    background-color: @color-horizon !important;
    transition: all 0.2s ease-in-out;
  }
}