@import "variables";
.nxd-background-horizon {
  background-color: @color-horizon;
}

.nxd-padding-xlarge-bottom {
  padding-bottom: 200px;
}

.nxd-padding-xsmall {
    padding: 10px;
}

@media (min-width: @screen-medium) {
  .nxd-padding-xlarge-bottom {
    padding-bottom: 100px;
  }
}

.nxd-height-xxsmall {
  height: 50px;
}

.nxd-min-width-small {
  min-width: 200px;
}

.nxd-min-width-medium {
  min-width: 400px;
}

.nxd-min-width-large {
  min-width: 600px;
}

.nxd-min-height-small {
  min-height: 200px;
}

.nxd-min-height-medium {
  min-height: 400px;
}

.nxd-min-height-large {
  min-height: 600px;
}

.nxd-min-height-80vh {
  min-height: 80vh;
}

.nxd-max-height-small {
  max-height: 200px;
}

.nxd-max-height-medium {
  max-height: 400px;
}

.nxd-max-height-large {
  max-height: 600px;
}