@import "variables";

.uk-input {
  border: 1px solid #333;
  border-radius: @nxd-border-radius;
  background: transparent;

    &:focus {
        border-color: @color-primary;
      background: @color-white;
    }
}

.form-invalid {
  border-color: @color-danger;
}

.form-container{
    border: 0px solid transparent;
    border-radius: @nxd-border-radius;
}
.container-invalid {
  border: 1px solid @color-danger;
  padding:2px
}

label {
    color: @color-navy;
    font-size: 1rem;
    font-weight: 400;
}