@import "../variables.less";

#cabinet {
  position: relative;
  width: 100%;
  background-color: @color-white;
  border: 2px dashed @color-grey-lighter;
  border-radius: @nxd-border-radius;
  padding: 10px;
  margin: 10px;
}
#nxd-cabinet-placeholder {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover > * {
    color: @color-primary !important;
    transition: all 0.2s ease-in-out;
  }
}

.select-location-div {
  cursor: pointer;
  &:hover{
    color: @color-navy;
  }
}